@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("./images/bg.png"), -webkit-linear-gradient(bottom, #000, #f0b212);
}
/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #000;
    display: flex;
    padding: 3rem 9%;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
  }
  .header .navbar{
    margin-left: 7rem;
    display: flex;
    align-self: center;
  }
  .header .icons {
    font-size: 2.5rem;
    cursor: pointer;
    color: #fff;
  }
  .header .icons:hover {
    color: #F0B212;
  }
  .header #menu-btn {
    display: none;
  }
  .header .navbar a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 2rem;
  }
  .header .navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: #F0B212;
  }
  .header .navbar .space {
    margin-left: 3rem;
    display: inline-block;
    width: 13rem;
  }
  .header .logo {
    position: absolute;
    top: 1.8rem;
    margin-right: 3rem;
    margin-bottom: 10px;
  }
  .header .logo img {
    width: 15rem;
  }
  .header .search-form {
    height: 7rem;
    padding: 0 2rem;
    border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    background: #000;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  .header .search-form.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .header .search-form input {
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.2rem;
    color: #fff;
  }
  .header .fa-times {
    transform: rotate(180deg);
  }
.box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    color: white;
}
fieldset{
    border: 3px solid #f0b212;
}
legend{
    border: 1px solid #f0b212;
    padding: 10px;
    text-align: center;
    background-color: #f0b212;
    border-radius: 8px; 
}
.inputBox{
    position: relative;
}
.inputProd{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;
}
.inputProd:focus ~ .labelInput,
.inputProd:valid ~.labelInput{
    top: -20px;
    font-size: 12px;
}
#update{
    background:#f0b212;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background: rgb(233, 218, 12);
}