@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #ffffff;
  color: #323232;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.form-wizard .form-wizard-header header div#logout{
  display: block;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #BDBFBF;
  transition: .5s;
  width: 25%;
  margin-left: 70%;
  margin-top: -18%;
  margin-bottom: 5%;
}
.form-wizard .form-wizard-header header div#logout a{
  text-decoration: none;
  color: #BDBFBF;
  font-weight: 700;
  transition: .5s;
}
.form-wizard .form-wizard-header header div#logout:hover{
  background-color: #BDBFBF;
  transition: .5s;
}
.form-wizard .form-wizard-header header div#logout:hover a{
  color: #000;
  transition: .5s;
}
.wizard-content-left {
  background-blend-mode: overlay;
  background-color: #323232;
  background-image: url(../images/blog-3.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.wizard-content-left .img-logo{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.wizard-content-left img{
  width: 550px;
  box-shadow: 7px 5px 19px -6px rgba(0,0,0,0.7);
  padding: 10px 20px;
  border-radius: 40px 0 40px 0;
  margin-bottom: 140px;

}


.wizard-content-left h1 {
  color: #ebebeb;
  font-size: 25px;
  font-weight: 600;
  text-align: end;
}
.wizard-content-left  h3{
  font-weight: 900;
  border-bottom: #f0b212 3px solid;
  width: 180px;
  display: flex;
  color: #f0b212;
}
.wizard-content-left .text-bg{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px;
  margin-top: 30px;
}


.form-wizard {
  margin-top: 100px;
  color: #888888;
  padding: 30px;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: #f0b212;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
  margin-bottom: 1px;
}
.form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, 
.form-wizard .form-wizard-submit {
  background-color: #f0b212;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
  border-radius: 8px 0px;
  box-shadow: 5px 5px 12px -6px rgba(1,0,0,0.5);
}
.submit{
  border: none;
  box-shadow: 5px 5px 12px -6px rgba(1,0,0,0.5);
}
.submit:hover{
  transition: 0.80s;
  scale: 1.2;
  
}
.form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, 
.form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, 
.form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #888888;
  background-color: #f1f1f1;
  border: none;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 30px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #f0b212;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard #labelLogo {
  color: #f0b212;
  top: -18px;
  font-size: 14px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0;
}
.form-wizard .form-wizard-steps li {
  width: 25%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: #f0b212;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: #f0b212;
  left: 50%;
  width: 50%;
  border-color: #f0b212;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #f0b212;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0.0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}