@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    height: 100vh;
    overflow: hidden;
    background: url("./images/bg.png"), -webkit-linear-gradient(bottom, #000, #f0b212);
  }
    /* HEADER */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #000;
    display: flex;
    padding: 3rem 9%;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
  }
  
  .header .logo {
    position: absolute;
    top: 1rem;
  }
  .header .logo img {
    width: 13rem;
  }
  
  div{
    /* margin-top: 20px; */
    background-color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 5px;
  }
  input{
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    margin: 10px;
  }
  .inputSubmit{
    width: 50%;
  height: calc(100% + 5px);
  border: none;
  background: #f0b212;
  margin-top: -20px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin: 10px;
  }
  .inputSubmit:hover{
    background: rgb(233, 218, 12);
  }