@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    height: 100vh;
    overflow: hidden;
    background: url("./images/bg.png"), -webkit-linear-gradient(bottom, #000, #f0b212);
  }
  header{
    padding: 30px 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    background: black;
  }
  div{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 5px;
  }
  input{
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    margin: 10px;
  }
  .inputSubmit{
    width: 50%;
  height: calc(100% + 5px);
  border: none;
  background: #f0b212;
  margin-top: -20px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin: 10px;
  }
  .inputSubmit:hover{
    background: rgb(233, 218, 12);
  }